<!doctype html>
<html>
  <head>
    <title>Fox Chatter NewsFeed</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/feed.css">

  </head>
  <body>
    <header>
      <!--Site Name-->
      Fox Chatter
      <!--MyMarist Portal-->
      <div id="portal_button">
        <img id = redfox src = "images/redfox.png"></img> MyMarist <div id = "MyMarist"></div>
      </div>
    

    </header>
    <main>
      <div id="newsfeed">

      </div>
      <div>
        <img id = "img" src = "images/campus.png"></img><a href = "https://www.marist.edu/">Article</a>
        <p>Marist is very cool!</p>
      </div>
      <div>
        <img id = "img" src = "images/news_pic.jpg"></img><a href = "https://www.newburghschools.org/">Article of the topic</a>
        <p>This article is towards Newbrugh schools in which we talk about how Marist has helped the students in coding classes</p>
      </div>
      <div>
        <img id = "img" src = "images/hancock.jpeg"></img><a href = "https://en.wikipedia.org/wiki/Bird">Bird Bird Bird</a>
        <p>BIRD IS THE WORD!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</p>
      </div>
        
    </main>
    <footer>
      <p id="site_info">Copyright &copy; 2020: Marist College est. 1929</p>
    </footer>


      <script src="/js/feed.js"></script>
      <script src = "/js/global.js"></script>
  </body>
</html>
