<!doctype html>
<html>
  <head>
    <title>Fox Chatter NewsFeed</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/feed.css">

  </head>
  <body>
    <header>
      <!--Site Name-->
      Fox Chatter
      <!--MyMarist Portal-->
      <div id="portal_button">
        <img id = redfox src = "images/redfox.png"></img> MyMarist <div id = "MyMarist"></div>
      </div>
    

    </header>
    <main>
      <div id="newsfeed">Feed will go here!

      </div>
      <div id = "content">
      </div>
        
    </main>
    <footer>
      <p id="site_info">Copyright &copy; 2020: Marist College est. 1929</p>
    </footer>


      <script src="/js/feed.js"></script>
      <script src = "/js/global.js"></script>
  </body>
</html>
